<div class="home-container">
    <app-card
        gameCover="assets/jogo1.jpeg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 199,90"
    ></app-card>
    <app-card
        gameCover="assets/jogo2.jpeg"
        gameLabel="EXCLUSIVE"
        gameType="DISC PS5"
        gamePrice="R$ 399,90"
    ></app-card>
    <app-card
        gameCover="assets/jogo3.jpeg"
        gameLabel="EXCLUSIVE"
        gameType="DISC PS5"
        gamePrice="R$ 399,90"
    ></app-card>
    <app-card
        gameCover="assets/jogo4.jpeg"
        gameLabel="DIGITAL"
        gameType="DIGITAL PS3 PS4 PS5"
        gamePrice="R$ 399,90"
    ></app-card>
    <app-card
        gameCover="assets/jogo5.jpeg"
        gameLabel="DIGITAL"
        gameType="DIGITAL PS4 PS5"
        gamePrice="R$ 399,90"
    ></app-card>
    <app-card
        gameCover="assets/jogo6.jpeg"
        gameLabel="EXCLUSIVE"
        gameType="DISC PS5"
        gamePrice="R$ 399,90"
    ></app-card>
</div>